@import "tailwindcss";

:root {
  --background: #f6f6f8; /* background-light */
  --foreground: #111318;
  
  /* Custom Colors */
  --primary: #135bec;
  --background-light: #f6f6f8;
  --background-dark: #101622;
  --surface-light: #ffffff;
  --surface-dark: #1a202c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-primary: var(--primary);
  --color-background-light: var(--background-light);
  --color-background-dark: var(--background-dark);
  --color-surface-light: var(--surface-light);
  --color-surface-dark: var(--surface-dark);

  --font-display: var(--font-lexend);
  --font-body: var(--font-noto-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #101622; /* background-dark */
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-display), sans-serif;
  overflow-x: hidden;
}

/* Hide scrollbar utilities */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
